<!DOCTYPE html>
<html lang="es">

<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: teal;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="w3-container w3-teal">
        <h1>Marcas</h1>

    </div>
    <br>
    <h2>Hubo un error</h2>
    <br>
    <ul>
        <li><a href="/practica7/">Regresar a la página principal</a></li>
    </ul>
    <footer class="footer">

        <p>Diseño de Aplicaciones Web</p>
    </footer>
</body>


</html>
