<!DOCTYPE html>
<html lang="es">

<head>
    <title>Actualizar Marcas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: teal;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="w3-container w3-teal">
        <h1>Marcas</h1>

    </div>
    <div class="w3-container w3-red">
        <h3>Actualizar una marca</h3>
    </div>
    <form action="actualizarMarca" method="POST" class="w3-container">
        <input class="w3-input" type="text" name="nombre" placeholder="Marca a actualizar" />
        <input class="w3-input" type="number" name="establecimiento" placeholder="Año de creación" />
        <input class="w3-input" type="text" name="origen" placeholder="País de origen" />
        <input class="w3-input" type="text" name="url" placeholder="URL" />
        <br>
        <input class="w3-btn w3-red" type="submit" value="Submit" />
    </form>
    <br>
    <ul class="w3-ul">
        <li class="w3-padding-small"><a href="/practica7/">Regresar a la página principal</a></li>
    </ul>
    <footer class="footer">

        <p>Diseño de Aplicaciones Web</p>
    </footer>

</body>

</html>
